<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="isDebug" value="1"/>
    <add key="ClientVersion" value="RouteTracking Client/v1.0"/>
    <add key="Ipv4InfoAddress" value="http://ip.iizone.com.cn/"/>
    <add key="Ipv6InfoAddress" value="http://freeapi.ipip.net/"/>
    <add key="ServerTokenKeys" value="10001 qwertyuiop123456asdfghjkl"/>
  </appSettings>
</configuration>
